*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    font-family: "Poppins", serif;
    background-color: rgb(252, 252, 252);

}
img{
    width: 100%;
}

header{
    width: 100%;
    height:100vh;
    position: relative;
    display: flex;
    padding: 0 5%;
    justify-content: center;
    background:linear-gradient(rgba(35, 45, 57, 0.8), rgba(35, 45, 57, 0.8));
    align-items: center;
  margin-bottom: 5px;

  
}

.container{
    width: 1120px;
    margin-inline: auto;
    position: absolute;
    top: 0;
     padding: 20px;
     position: fixed;
   
}


.desktop-menu{
    display: flex;
   align-items: center;
   justify-content: space-between;
   text-align: center;
   background-color: #ffffff;
    width: 100%; 
    
    
}
.desktop-menu h1{
    color: #ed563b;
    font-weight: 700;
    font-size: 2.5rem;
}
span {
    color: rgb(255, 255, 255);
}
.menu-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-inline: auto;
    margin-bottom: -15px;
  gap: 50px;
   
}

.menu-link li{
    list-style: none;
}
.menu-link li a{
    text-decoration: none;
    color: #000000;
    font-size: 1.3rem;
    font-weight: 500;
}
.menu-link a:hover{
    color: #ed563b;
}
#button{
    background-color: #ed563b;
    padding: 10px;
    border-radius: 2px;
    color: #ffffff;
}
#button:hover{
 background-color: #efefef;
 font-weight: 500;
 color: #ed563b;
}

#hom{
    color: #ed563b;
}
#one{
    color: #000000;
}
.content-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  gap: 20px;
  width: 100%;
}

.Video-hero{
    position: absolute;
    right:0;
  
    bottom: 0;
    z-index: -1;
    height: -20%;

}
.content-hero h3{
    font-size: 1.5rem;
    color: #ffffff;
}
.content-hero h1{
    font-size: 5.5rem;
    color: #ed563b;
}
.content-butt{
    background-color: #ed563b;
    padding: 13px;
    border-radius: 2px;

}
.content-butt li{
    list-style: none;
}
.content-butt li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 500;

}



.choose-program{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 5%;
    text-align: center; 
}

.choose-program h1{
    font-size: 1.8rem;
    font-weight: 700;
}
#pro{
    color: #ed563b;
}
.choose-program img{
    width: 5%;
}
.hero p{

    text-align: center;
   
}
.container-all-grid{
    width: 1110px;
    margin-inline: auto;
    margin-top: 5%;
}
.grid-container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    width: 100%;
}

.content-grid{
    display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}
/* .content-grid-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.content-grid img{
    width: 15%;
}
.content-grid h1{
    font-weight: 600;
}
.content-grid h5{
    color: #ed563b;
    font-weight: 500;
}
.banner{
    margin-inline: auto;
    margin-top: 5%;
    background-image: url('cta-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 130px;
    
}
.banner .content-baner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    align-items: center;
    gap: 25px;
    text-align: center;
 
}
#think{
    color: #ed563b;
}
#today{
    color: #ed563b;
}

.content-baner h1{
 font-size: 3.4rem;
 font-weight: 800;
}
.content-baner p{
    font-size: 1.1rem;
    line-height: 1rem;
}

.butt li{
list-style: none;
}
.butt li a{
    color: #ffffff;
    background-color: #ed563b;
    padding: 15px;
    text-decoration: none;
  
    
}
.our-classes img{
    width: 5%;
}
.our-classes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
    gap: 10px;
}
.our-classes h1{
    font-size: 1.8rem;
    font-weight: 700;
}
.container-all-grid{
    width: 1120px;
    margin-inline:auto;

}
.grid-cont{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
  
}
.content-left img{
    width: 10%;

}
.content-left-side{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
  
}
.content-left{
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: #ffffff;
    justify-content: center;
    padding:20px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgb(194, 191, 191);
}
.content-left h3{
    font-size: 1.4rem;
    font-weight: 600;
}
#cla{
    color: #ed563b;
}
.bbtt-views{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
section{
    width: 100%;
}

.btt-views {
background-color: #ed563b;
padding: 20px 100px;
border-radius: 5px;
}
.btt-views li{
    list-style: none;
}
.btt-views li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;

}

.content-right-side{
    display: flex;
    justify-content: center;
    /* padding: 20px; */
}
.contnt-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contnt-right img{
    max-width:100% ;
    border-radius: 4px;
}
.contnt-right h3{
    font-size: 1.3rem ;
}

.btt-view{
    background-color: #ed563b;
border-radius: 5px;
text-align: center;
padding: 10px 0;
}

.btt-view li{
    list-style: none;
}
.btt-view li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;

}
.schedule img{
width: 5%;
}
.schedule{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     margin-top: 5%;
     text-align: center;
     gap: 15px;
     width: 100%;
     background-image: url('schedule-bg.jpg');
     padding: 20px;
     height: 100%;
}

.backroun-schedule{
    height: 100vh;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#schedule{
    color: #ed563b;
    height: 100%;
}
.schedule h2{
    color: #efefef;
    font-size: 2.3rem;
    font-weight: 700;
}
.schedule p{
    color: #ffffff;
    font-size: 1rem;
}

.day-schedule{
  margin-top: 50px;
  font-size: 1.1rem;
  font-weight: 500;
}
#days{
color: #ed563b;

}

.fitness{
    padding: 20px;
    display: flex;
    gap: 20px;
}
.muscal{
    
    padding: 20px;

}
.body{
    padding: 20px;  
}
table {
    border:2px solid #efefef; 
    height: 20vh;
    color: #efefef;
    font-size: 1.rem;
}
.yog{
    padding: 20px;  
}

.Advanced{
    padding: 20px;   
}

td{
    border-bottom: 2px solid seashell;
}
tr{
    border-bottom: 2px solid seashell; 
}


#trine{
    color: #ed563b;
}
#tem{
color: #ed563b;
}

 footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
 }
.hamburger{
    display: none;
}


 .hamburger{
    display: none;
 }
 .mobile-menu{
    display: none;
 }
.cont-exp{
    max-width: 1110px;
    margin-inline: auto;
   margin: 15px;

 
}
.expert-tr img{
    width: 5%;
}
.expert-tr{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.grid-co{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}
#tr{
    color: #ed563b;
}
.cont-gr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 3px 3px 6px rgba(11, 11, 11, 0.8);
    width: 100%;
    padding: 10px;
     gap: 20px;
     width: 100%;
   
}

.con-down img{
    width: 90%;
    border-radius: 10px;
    
}
.con-down h5{
    color: #ed563b;
}
.con-down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    width: 100%;
    
}
.social-media{
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
}
.social-media li{
    list-style: none;
}
.social-media li a{
    text-decoration: none;
    color: #000000;
}
.social-media a:hover{
    color: #ed563b;
}
.contect{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: url('contact-bg.jpg');
    margin: 4px;
    width: 100%;
}
.cont-form{
  background-color: #ffffff;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 10px;
  margin: 4px;
  width: 100%;
}
input{
    padding: 20px 30px;
    display: block;
    border: 2px solid black;
 
    
}
.pla{

    font-size: 1.4rem;
}
.plas{

    font-size: 1.3rem;
}
.pls{
 
    font-size: 1.3rem;
}
textarea{
    width:100% ;
    height: 100%;
    border: 2px solid black;
    
}
form{
    margin: 5px;
    padding: 10px;
}
button{
   background-color: #ed563b;
   border: none;
   padding: 10px;
   color: #efefef;
}
 /* mobile */
@media (max-width:640px){
    .contect{
      display: grid;
      grid-template-columns: 1fr;
    }
    .contect{
        width: 300%;
        position: relative;
        left: 200px;
    }
    iframe{
        width: 100%;
    }
.grid-co{
    display: grid;
    grid-template-columns: 1fr ;
}
.cont-form{
    width: 100%;
}
form{
    padding: 20px;
}
input{
    padding: 20px;
    border: 3px solid black;
}
.pla{
    color: blue;
    font-size: 2rem;
}
.plas{
    color: blue;
    font-size: 2rem;
}
.pls{
    color: blue;
    font-size: 2rem;
}
footer{ 
    position: relative;
    left: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3.5rem;
    margin-top: 20%;
}
.cont-gr{
    position: relative;
    left: 180px;
    width: 300%;
}
.con-down {
    font-size: 3rem;
}
.social-media{
    font-size: 3rem;
}
  .expert-tr h1{
  color: #000000;
  font-size: 4rem;
  }
  .expert-tr img{
    width: 10%;
  }
  .expert-tr p{
    font-size: 2.5rem;
  }
  .expert-tr {
     position: relative;
     left: 500px;
     width: 100%;
   
  }
    .desktop-menu{
        display: none;
    }
    section{
        width: 100%;
    }
    i{
        z-index: 11111;
     }
    .hamburger{
        display: flex;
        position: absolute;
        top: 5%;
        right:5%;
        font-size: 4.5rem;
        color:rgb(255, 255, 255);
  
       padding: 5px 8px;
       border-radius: 50%;
    }

    .mobile-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.8);
        inset: 0 0 0 0;
        transform: translateY(0%);
        transition: transform 350ms ease-in-out;

    }
    .mobile-menu[data-visible="false"] {
        transform: translateY(100%);
    }

    .hamburger i[data-visible="true"]{
        display: block;
    }

    .hamburger i[data-visible="false"]{
        display: none;
    }


    .menu-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 28px;
        justify-content: center;
        color: aliceblue;
        gap: 20px;
    }

    .buttons{
        background-color:#ed563b;
        color: aliceblue;
        padding:20px 160px;
        border-radius: 10px;
        font-size:1.2rem;
        border: none;
        align-items: center;
        margin-bottom: 12px;
        margin-top: 50px;
    }
    .buttons li{
        list-style: none;
    }
    .buttons li a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 3rem;
    }
    h1{
        color: #ffffff;
        font-size: 6em;
        font-weight: 600;
        margin-top: 100px;
       
    }

    #one{
        color: #ed563b;
    }
    .menu-links li{
        list-style: none;
    }
    .menu-links li a{
        text-decoration: none;
        padding: 10px;
       color: #fff7f7;
       font-size: 3.5rem;
       border-bottom: 2px solid white;
       gap: 30px;
    }
    header{
    height: 100vh;
    width: 350%;   

    }

    .choose-program{
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10%;
       
       
    }
    .choose-program h1{
        color: #000000;
        font-size: 3rem;
    }
    .choose-program p{
        font-size: 3rem;
    }
  
    .grid-container{
        display: grid;
        grid-template-columns: 1fr;
        padding: 20px;
     gap: 10px;

    }
    .content-hero h3{
        font-size: 2.4rem;

    }
    .content-hero{
        gap: 5px;
        width: 100%;
    }
    .content-grid h1{
        color: #000000;
        font-size: 3rem;
        font-weight: 500;
    }
    .content-grid h5{
        font-size: 2rem;
        font-weight: 500;
    }
    .content-grid img{
        width: 50%;
    }
    .content-butt a {
        font-size: 2rem;
    }

    .content-grid p{
        font-size: 3rem;
    }
    .banner{
   width: 300%;
    }
     .content-baner h1{
        font-size: 4rem;
     }
     .content-baner p{
        font-size: 2rem;
        line-height: 50px;
     }

     .butt li a{
        font-size: 2rem;
     }


      .backroun-schedule{
        width:305%;
      }
    .btt-views li a{
        font-size: 2.5rem;
    }
    .grid-cont{
        display: grid;
        grid-template-columns: 1fr;
    }
    .our-classes h1{
        font-size: 3rem;
        color: #000000;
    }
    .our-classes img{
        width: 7%;
    }
    .our-classes p {
  font-size: 3rem;
    }
    .content-left-side h3{
        font-size: 2.8rem;
    }
    .content-left-side img{
        width: 20%;
    }
    .content-left-side{
        margin-top: 10%;
    }
   .contnt-right h3{
    font-size: 3rem;
   }
   .contnt-right p{
   font-size: 2.5rem;
   }

   .contnt-right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
   }
   

   
    .btt-view li a{
        font-size: 3rem;
    }
 
}